body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 90%;
  height: auto;
  padding-top: 20px;
}
.head-text {
  padding-left: 60px;
  padding-top: 40px;
  margin-bottom: 250px;
}
.head-text p {
  font-size: 20px;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-size: 28px;
  font-weight: 800;
}
.orange-color {
  color: orange;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, red);
  padding: 13px 30px;
  border-radius: 25px;
  color: white;
  font-weight: 700;
}

.about-me {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  margin-bottom: 150px;
}
.about-me img {
  width: 50%;
  padding-left: 120px;
  padding-top: 50px;
}
.about-text {
  text-align: center;
  padding-right: 80px;
  padding-top: 90px;
}
.about-text p {
  font-size: 18px;
  text-align: justify;
  padding-bottom: 60px;
}
.my-recipies {
  text-align: center;
  margin-bottom: 70px;
}
.my-recipies p {
  font-size: 18px;
}
.recipie-list {
  width: auto;
  height: max-content;
  margin: 10px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 200px;
}
.recipie-list h3 {
  margin-left: 25px;
}
.recipie-list p {
  font-size: 18px;
  margin-left: 25px;
}
.recipie-one {
  width: 610px;
  height: 562px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px gray;
}
.recipie-two {
  width: 610px;
  height: 562px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px gray;
}
.recipie-one img {
  width: 550px;
  height: 308px;
  margin: 25px;
}
.recipie-two img {
  width: 550px;
  height: 308px;
  margin: 25px;
}
.social-network {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  width: 1239px;
  height: 226px;
  box-shadow: 0px 0px 8px gray;
  margin: 50px;
  border-radius: 20px;
  margin-bottom: 250px;
}
.social-network h3 {
  font-size: 48px;
  margin-bottom: 0;
  padding-top: 10px;
}
footer {
  width: auto;
  height: 200px;
  background-color: black;
  text-align: center;
}
footer h2 {
  color: limegreen;
}
span {
  color: coral;
}
footer p {
  color: white;
}
.footer-inside {
  padding-top: 15px;
  justify-content: center;
  align-content: center;
}
